<div class="container">
  <div class="row" *ngFor = 'let data of content'>
    <div class="col-md-4 boxGrid">
      <h4 class="titlez">Responsive design</h4>
      <p class="contentz">
        {{data.text}}
      </p>
    </div>
    <div class="col-md-4 boxGrid">
      <h4 class="titlez">Multi-purpose</h4>
      <p class="contentz">
        {{data.text}}
      </p>
    </div>
    <div class="col-md-4 boxGrid">
      <h4 class="titlez">Friendly support</h4>
      <p class="contentz">
        {{data.text}}
      </p>
    </div>
  </div>
</div>