<div class="container" style="margin-top: 30px;">
  <div class="row" *ngFor='let data of content'>
    <div class="col-md-4 boxGrid">
      <div class="icons">
        <h2 style="text-align: center;"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i></h2>
       <h3 class="rangePrize">41$ - 50$</h3>
       <h3 class="percenTage">10% off</h3>
      </div>
<!--       <h4 class="titlez">Responsive design</h4>
      <p class="contentz">
        {{data.text}}
      </p> -->
    </div>
    <div class="col-md-4 boxGrid">
      <div class="icons">
        <h2 style="text-align: center;">
          <i class="fa fa-spinner fa-1x" aria-hidden="true"></i>
        </h2>
      </div>
      <h3 class="rangePrize">51$ - 100$</h3>
      <h3 class="percenTage">15% off</h3>
<!--       <h4 class="titlez">Multi-purpose</h4>
      <p class="contentz">
        {{data.text}}
      </p> -->
    </div>
    <div class="col-md-4 boxGrid">
      <div class="icons">
        <h2 style="text-align: center;">
          <i class="fa fa-heart-o fa-1x" aria-hidden="true"></i>
        </h2>
      </div>
      <h3 class="rangePrize">Above 100$</h3>
      <h3 class="percenTage">20%</h3>
      <!-- <h4 class="titlez">Friendly support</h4>
      <p class="contentz">
        {{data.text}}
      </p> -->
    </div>
  </div>
  <br>
  <h1 class="lineOnz"></h1>
  <img src="../../../assets/image/Poster.jpg" class="posTer">
  <h1 class="lineOnz">
   <!--  <img [src]='data.social'> -->

      <i class="fa fa-facebook-square newz" aria-hidden="true"></i>
      <i class="fa fa-instagram newz" aria-hidden="true"></i>
      <i class="fa fa-twitter-square newz" aria-hidden="true"></i>
      <i class="fa fa-google-plus-square newz" aria-hidden="true"></i>
      <i class="fa fa-pinterest-square newz" aria-hidden="true"></i>
  </h1>
</div>
<br>




