header {
  position: relative;
  background-color: rgba(253, 253, 253, 0.274) !important;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 400rem !important;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  opacity: 0.7;
  z-index: 1;
}

.logoImage {
  position: absolute;
  top: 0%;
  left: 40%;
  max-width: 100%;
  min-height: auto;
  width: auto;
  height: auto;
  z-index: 0;
  width: 200px;
}

.video {
  height: auto;
  width: 100%;
}

.btn-block {
  border: 0px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  background-color: #47c9e5!important;
  text-transform: uppercase;
  font-weight: 600;
}

.form-control {
  background: rgb(255, 255, 255);
  border-radius: 30px;
}

  .input-md{
    height: 50px;
  }

  .newOnz{
  position: absolute;
  top: 8px;
  left: 16px;
  }


/*   @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  } */
  



  